#slider-container {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

#slider-img {
    width: 100%;
    height: auto;
}

#prevBtn,
#nextBtn {
    position: absolute;
    top: 110%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prevBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}